@media screen and (max-width: 576px) {
    /* body {
        padding: 0px 10px;
    } */

    /* banner */
    .banner-section{
        padding: 100px 10px;
    }
    .banner-title {
        font-size: 38px;
       
    }
    .banner-img .img-1 {
        /* position: absolute;
        bottom: 60px;
        right: 10px; */
        width: 343px;
        /* height: 350px; */
    }
    .banner-img .img-2 {
        position: absolute;
        bottom: 10px;
        right: 60px;
        width: 97px;
        height: 177px;
    }
}